.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Categories
      - @categories.each do |category|
        %li= link_to category.title, category_path(category)
.span9
  %h1.center Advertisements
  = bootstrap_flash
  .advertisements
    - model_class = Advertisement
    %table.table.table-hover
      %thead
        %tr
          %th= model_class.human_attribute_name(:title)
          %th= model_class.human_attribute_name(:email)
          %th= model_class.human_attribute_name(:created_at)
      %tbody
        - @advertisements.each do |advertisement|
          %tr
            %td
              %p= advertisement.title
            %td
              %p= advertisement.email
            %td
              %p= advertisement.created_at.strftime("%b %d, %H:%M")
            - if user_signed_in? && current_user.admin?
              %td
                = link_to "Edit", edit_advertisement_path(advertisement), class: 'btn btn-mini'              
                = link_to "Destroy", advertisement_path(advertisement), :method => :delete, class: 'btn btn-mini btn-danger'
    .center
      =link_to "New Advertisement", new_advertisement_path, class: 'btn btn-primary'