.span12
  = bootstrap_flash
  .advertisements  
    - model_class = Advertisement
    %table.table.table-hover
      %thead
        %tr
          %th= model_class.human_attribute_name(:title)
          %th= model_class.human_attribute_name(:email)
          %th.pull-right= model_class.human_attribute_name(:created_at)
      %tbody
        - @advertisements.each do |advertisement|
          %tr
            %td
              %p= advertisement.title
            %td
              %p= advertisement.email
            %td
              %p.pull-right= advertisement.created_at.strftime("%b %d, %H:%M")
            %td= link_to "Destroy", advertisement_path(advertisement), :method => :delete, class: 'btn btn-mini btn-danger'